<%- include("partials/header") -%> 




 
<% content.forEach(element => { %>
    <h1><%= element.Title %></h1>
   <p>
    <%=  element.postBody1%>....
    <a href="/posts/<%= element._id%>">Read More</a>
   </p> 
  
<% }) %>


<%- include("partials/homefooter") -%>